@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@100,300;85.6,357&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@100,300;85.6,357&family=Open+Sans&display=swap');

/* Page Body Styles */

img {
    max-width: 80%;
    height: auto;
  }

p {
    color:black;
}

  div {
    padding: 50px;
  }

.img2 {
    float: right;
    text-align: center;
    padding-bottom: 40px;
}

.img1 {
    max-width: 70%;
}

.blackImage {
    background-color: black;
}

.caption {
    text-align: right;
}

.formback {
    background-color: black;
    width: 200px;
    height: 200px;
}

nav.navbar {
    overflow: hidden;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    
  }

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
.navbar a:hover {
    color: lightgreen;
  }
.container {
    padding: 18px;
    margin-top: 35px;
    height: 2000px;
  }

.account {
    text-align: right;
}

.card

/* Horizontal Navigation List Styles */

nav.horizontal a {
    font-family: "Noto Sans Mono";
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    height: 10px;
}

nav.horizontal a:hover,
nav.horizontal a:active {
    background-color: lightgreen;
}

.cardSection {
    background-color: lightgrey;
    padding-bottom: 50px;
}

/* About page styles*/

.picCaption {
  display: flex;
  justify-content: space-around;
}

.picCaption2 {
  display: flex;
}